body{
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background-image:url(https://wallpapers.com/images/hd/spotify-piano-and-headphones-psvd4nwl5u4foka8.jpg);
}
  